
body {
  min-height: 350px;
  min-width: 350px;
}

.sidebar-dark .nav-item .nav-link i {
  color: rgba(255,255,255);
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: .75rem 1rem;
  width: auto;
}

@media (min-width: 768px) {

  .sidebar .nav-item .nav-link {
    text-align: left;
    padding: .85rem 1rem;
  }

}

@media (max-width: 767px) {

  .sidebar .nav-item .nav-link {
    padding: .65rem 1rem;
  }

 .sidebar-dark .nav-item .nav-link i {
    font-size:1.6rem;
  }

}


@media (max-width: 350px) {

  body {
    height: 520px;
  }
}